.range-slider{
	display: inline-block;
	position: relative;
	margin-left:3em !important;
	margin-right:3em !important;
	direction: ltr;
	text-align: left;
	-webkit-user-select:none;
	user-select:none;
}
.range-slider *{
	-webkit-user-select:none;
	user-select:none;
}
.range-slider .dynamic-range{
	position: relative;
	margin: 0;
	padding: 0;
	background-color:#00667a;
	float: left;
	display: inline-block;
	height: 100%;

}
.range-slider .dynamic-margin{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}
.range-slider{
	height:30px;
	background-color:#e7e7e7;
	margin:2em 0;
	display:block;
}
.range-slider .dynamic-range .min{
	left:-15px;
	top:-20px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.range-slider .dynamic-range .max{
	right:-15px;
	bottom:-21px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.range-slider .dynamic-range .min, .range-slider .dynamic-range .max{
	outline:none;
	background:url(../images/svg/rangeslider.svg) no-repeat;
	position:absolute;
	width:30px;
	height:30px;
}
.range-slider[data-type='vertical']{
	background-color:#e7e7e7;
	width:30px;
	margin:1em 0;
	display:inline-block;
	min-height: 100px;
}
.range-slider[data-type='vertical'] .dynamic-range{
	width:30px;
	background-color:#00667a;
}
.range-slider[data-type='vertical'] .dynamic-range .min{
	top: initial;
	left:-21px;
	bottom:-15px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.range-slider[data-type='vertical'] .dynamic-range .max{
	right:-21px;
	top:-15px;
	-webkit-transform: none;
	transform: none;
}
.range-slider[data-type='vertical'] .dynamic-margin{
	width: 100%;
}