.range-slider{
	display: inline-block;
	position: relative;
	margin-left:3em !important;
	margin-right:3em !important;
	direction: ltr;
	text-align: left;
	-webkit-user-select:none;
	user-select:none;
}
.range-slider *{
	-webkit-user-select:none;
	user-select:none;
}
.range-slider .dynamic-range{
	position: relative;
	margin: 0;
	padding: 0;
	background-color:#00667a;
	float: left;
	display: inline-block;
	height: 100%;

}
.range-slider .dynamic-margin{
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	height: 100%;
}
.range-slider{
	height:30px;
	background-color:#e7e7e7;
	margin:2em 0;
	display:block;
}
.range-slider .dynamic-range .min{
	left:-15px;
	top:-20px;
}
.range-slider .dynamic-range .max{
	right:-15px;
	bottom:-21px;
}

/*******   ezaafe shod chon rotate shode bud kolle span . left va height jaashun bar ax bud   */

.range-slider .dynamic-range div.active{
	z-index: 99999;
}

.range-slider .dynamic-range .max.active::before{
	content: "";
	position: absolute;
	top: -1px;
	background:url(../images/svg/b.svg) no-repeat;
	width:30px;
	height:30px;
    transform: rotate(90deg);
}
.range-slider[data-type="vertical"] .dynamic-range .max.active::before{
	transform: rotate(0deg);
	top: initial;
	left: -1px;
}


.range-slider .dynamic-range .min.active::before{
	content: "";
	position: absolute;
	top: 1px;
	background:url(../images/svg/b.svg) no-repeat;
	width:30px;
	height:30px;
    transform: rotate(270deg);
}


.range-slider[data-type='vertical'] .dynamic-range .min.active::before{
    transform: rotate(0deg);
    top: initial;
    left:-1px; 
}


.range-slider .dynamic-range .min, .range-slider .dynamic-range .max{
	outline:none;
	position:absolute;
	width:30px;
	height:30px;
}

.range-slider .dynamic-range .max::after{
	content: "";
	position: absolute;
	background:url(../images/svg/rangeslider.svg) no-repeat;
	width: 30px;
    height: 30px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.range-slider[data-type='vertical'] .dynamic-range .max::after{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

.range-slider .dynamic-range .min::after{
	content: "";
	position: absolute;
	background:url(../images/svg/rangeslider.svg) no-repeat;
	width: 30px;
    height: 30px;
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.range-slider[data-type='vertical'] .dynamic-range .min::after{
    transform: rotate(0deg);
}

.range-slider[data-type='vertical']{
	background-color:#e7e7e7;
	width:30px;
	margin:1em 0;
	display:inline-block;
	min-height: 100px;
}
.range-slider[data-type='vertical'] .dynamic-range{
	width:30px;
	background-color:#00667a;
}
.range-slider[data-type='vertical'] .dynamic-range .min{
	top: initial;
	left:-21px;
	bottom:-15px;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.range-slider[data-type='vertical'] .dynamic-range .max{
	right:-21px;
	top:-15px;
	-webkit-transform: none;
	transform: none;
}
.range-slider[data-type='vertical'] .dynamic-margin{
	width: 100%;
}

.dynamic-range span::after{
	content: attr(data-value-show);
	display: inline-block;
	height: 30px;
	background-color: #555;
	color: #eee;
    top: 27px;
    position: absolute;
    z-index: 22;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dynamic-range .max span::after{
	top: 33px;
}


.dynamic-range span::before{
	content: "";
	display: inline-block;
	height: 15px;
	left: 5px;
    top: -6px;
    position: absolute;
    z-index: 22;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #555;
}

.range-slider[data-type="vertical"] .dynamic-range span::before{
    left: 13px;
    top: 2px;
    transform: rotate(90deg);
}

.dynamic-range .max span::before{
    transform: rotate(180deg);
    top: initial;
    bottom: -6px;
}

.dynamic-range .min span::after{
	top: initial;
	bottom: 33px;
}

.range-slider[data-type="vertical"] .dynamic-range .min span::after{
    bottom: 0px;
    left: 33px;
}

/*.dynamic-range .min span::after{
	transform: rotate(90deg);
}
*/
.range-slider[data-type="vertical"] .dynamic-range .min span::after{
	transform: rotate(180deg);
}

.dynamic-range .min span, .dynamic-range .max span{
	z-index: 9;
}

.dynamic-range .min, .dynamic-range .max{
	z-index: 9;
}

/*.dynamic-range .max span::after{
	transform: rotate(270deg);
}*/

.range-slider[data-type="vertical"] .dynamic-range .max span::after{
	transform: rotate(0deg);
	top: initial;
	left: 33px;
}

.margin-range{
	margin: 60px 0;
}

.range-slider[data-type='vertical'] .margin-range{
	margin: 0;
}


